In [1]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
import psycopg2
import time

In [2]:
# Download raw data from postgres for stage 1 ETL

conn_string = 'postgres://whnpmxwsiccrtg:53c453893549d2b1e6a4ff92e626a2a08ebcaff66678e50d33e3742f66e3e4f4@ec2-52-4-171-132.compute-1.amazonaws.com/d2ajro4cjr10lb'

db = create_engine(conn_string)
conn = db.connect()

start_time = time.time()
clean_listing = pd.read_sql_query('select * from "clean_listing_remove_somereviews"',con=conn)
calendar = pd.read_sql_query('select * from "calendar_clean"',con=conn)
amenities = pd.read_sql_query('select * from "amenities_bucketed"',con=conn)
print("PostGres Download Duration: {} seconds".format(time.time() - start_time))

PostGres Download Duration: 1.4483208656311035 seconds

In [3]:
# Drop duplicated variables.
listing = clean_listing.drop(columns = ['last_scraped', 'host_since', 'latitude', 'longitude', 'price'])

In [4]:
# Merge amenities table to full listings.
merge1 = listing.merge(amenities, how='left', on ='id')

In [5]:
# Merge calendar table to amenities and full listings.
merged = merge1.merge(calendar, how='left', on ='id')

In [6]:
# Merge tables and drop 'id' (unique identifier - not relevant)
merged = merged.drop(columns = 'id')

In [9]:
objects = merged.dtypes[merged.dtypes == 'object'].index.tolist()

In [10]:
# Create a OneHotEncoder instance
from sklearn.preprocessing import OneHotEncoder
enc = OneHotEncoder(sparse=False, drop='if_binary')

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(merged[objects]))

# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names(objects)

In [11]:
# Merge one-hot encoded features and drop the originals
merged = merged.merge(encode_df,left_index=True, right_index=True)
merged = merged.drop(columns=objects)

In [12]:
# Set erroneous 30 bedroom listings for apartments to 1
merged.loc[merged['bedrooms'] > 29, 'bedrooms'] = 1

In [13]:
# Convert zero bedrooms with more than 4 accommodates to 2 bedrooms
merged.loc[(merged['bedrooms'] == 0) & (merged['accommodates'] > 4), 'bedrooms'] = 2

In [14]:
# Convert zero bedrooms with more than 4 accommodates to 1 bedroom
merged.loc[(merged['bedrooms'] == 0) & (merged['accommodates'] < 5), 'bedrooms'] = 1

In [16]:
merged.head(5)

,host_listings_count,accommodates,bathrooms,bedrooms,security_deposit,cleaning_fee,review_scores_rating,number_of_reviews,days_host,tv,...,cancellation_policy_flexible,cancellation_policy_moderate,cancellation_policy_strict,cancellation_policy_strict_14_with_grace_period,cancellation_policy_super_strict_30,cancellation_policy_super_strict_60,require_guest_profile_picture_t,require_guest_phone_verification_t,has_availability_t,day_weekend
0,1,2,1.0,2,0.0,0.0,99.0,561,3576,1.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,2,1.0,2,0.0,0.0,99.0,561,3576,1.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,2,1.0,2,0.0,0.0,99.0,561,3576,1.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,2,1.0,2,0.0,0.0,99.0,561,3576,1.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,2,1.0,2,0.0,0.0,99.0,561,3576,1.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0

In [17]:
# Upload Merged dataset with errors corrected to PostGres

start_time = time.time()
merged.to_sql('merged_fixed_errors', con=conn, if_exists='replace', index=False)
print("PostGres Upload Duration: {} seconds".format(time.time() - start_time))

NameError: name 'data_new' is not defined