In [32]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
import psycopg2
import time

In [33]:
from pathlib import Path
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression

In [34]:
# Download raw data from postgres for stage 1 ETL

conn_string = 'postgres://whnpmxwsiccrtg:53c453893549d2b1e6a4ff92e626a2a08ebcaff66678e50d33e3742f66e3e4f4@ec2-52-4-171-132.compute-1.amazonaws.com/d2ajro4cjr10lb'

db = create_engine(conn_string)
conn = db.connect()

start_time = time.time()
clean_listing = pd.read_sql_query('select * from "listings_full_clean"',con=conn)
calendar = pd.read_sql_query('select * from "calendar_clean"',con=conn)
print("PostGres Download Duration: {} seconds".format(time.time() - start_time))

PostGres Download Duration: 1.5550556182861328 seconds

In [35]:
clean_listing.head()

,id,last_scraped,host_since,host_listings_count,host_is_superhost,host_identity_verified,neighbourhood_cleansed,latitude,longitude,room_type,...,review_scores_checkin,review_scores_value,instant_bookable,is_business_travel_ready,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,has_availability,is_review,days_host
0,6422,2019-01-17,2009-04-03,1,t,t,District 6,36.173151,-86.735813,Private room,...,10.0,10.0,f,f,strict_14_with_grace_period,f,f,t,True,3576
1,20847,2019-01-17,2010-02-08,2,t,f,District 7,36.196397,-86.704267,Private room,...,9.0,9.0,f,f,strict_14_with_grace_period,t,t,t,True,3265
2,25341,2019-01-17,2010-02-08,2,t,f,District 7,36.197053,-86.704937,Private room,...,10.0,9.0,f,f,strict_14_with_grace_period,t,t,t,True,3265
3,25613,2019-01-17,2010-03-18,1,t,t,District 6,36.178263,-86.741622,Private room,...,10.0,10.0,t,f,moderate,t,t,t,True,3227
4,37306,2019-01-17,2010-07-08,1,f,f,District 17,36.133109,-86.774767,Private room,...,10.0,10.0,f,f,strict_14_with_grace_period,t,t,t,True,3115

In [38]:
clean_listing.dtypes

id                                           int64
last_scraped                        datetime64[ns]
host_since                          datetime64[ns]
host_listings_count                          int64
host_is_superhost                           object
host_identity_verified                      object
neighbourhood_cleansed                      object
latitude                                   float64
longitude                                  float64
room_type                                   object
property_type                               object
accommodates                                 int64
bathrooms                                  float64
bedrooms                                     int64
bed_type                                    object
price                                      float64
security_deposit                           float64
cleaning_fee                               float64
review_scores_rating                       float64
number_of_reviews                            int64
review_scores_cleanliness                  float64
review_scores_location                     float64
review_scores_communication                float64
review_scores_checkin                      float64
review_scores_value                        float64
instant_bookable                            object
is_business_travel_ready                    object
cancellation_policy                         object
require_guest_profile_picture               object
require_guest_phone_verification            object
has_availability                            object
is_review                                     bool
days_host                                    int64
dtype: object

In [39]:
listing = clean_listing.drop(columns = ['last_scraped', 'host_since', 'latitude', 'longitude', 'price'])

In [40]:
calendar.head(10)

     id      day  month  price
0  6422  weekday      1   40.0
1  6422  weekday      2   40.0
2  6422  weekday      3   40.0
3  6422  weekday      4   40.0
4  6422  weekday      5   40.0
5  6422  weekday      6   40.0
6  6422  weekday      7   40.0
7  6422  weekday      8   40.0
8  6422  weekday      9   40.0
9  6422  weekday     10   40.0

In [41]:
merged = listing.merge(calendar, how='left', on ='id')
merged.head()

,id,host_listings_count,host_is_superhost,host_identity_verified,neighbourhood_cleansed,room_type,property_type,accommodates,bathrooms,bedrooms,...,is_business_travel_ready,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,has_availability,is_review,days_host,day,month,price
0,6422,1,t,t,District 6,Private room,House,2,1.0,2,...,f,strict_14_with_grace_period,f,f,t,True,3576,weekday,1,40.0
1,6422,1,t,t,District 6,Private room,House,2,1.0,2,...,f,strict_14_with_grace_period,f,f,t,True,3576,weekday,2,40.0
2,6422,1,t,t,District 6,Private room,House,2,1.0,2,...,f,strict_14_with_grace_period,f,f,t,True,3576,weekday,3,40.0
3,6422,1,t,t,District 6,Private room,House,2,1.0,2,...,f,strict_14_with_grace_period,f,f,t,True,3576,weekday,4,40.0
4,6422,1,t,t,District 6,Private room,House,2,1.0,2,...,f,strict_14_with_grace_period,f,f,t,True,3576,weekday,5,40.0

In [42]:
merged = merged.drop(columns = 'id')

In [43]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [44]:
merged2 = merged.copy()

In [45]:
objects = merged2.dtypes[merged2.dtypes == 'object'].index.tolist()

In [46]:
for obj in objects:
    merged2[obj] = le.fit_transform(merged2[obj])

In [47]:
merged2.head()

,host_listings_count,host_is_superhost,host_identity_verified,neighbourhood_cleansed,room_type,property_type,accommodates,bathrooms,bedrooms,bed_type,...,is_business_travel_ready,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,has_availability,is_review,days_host,day,month,price
0,1,1,1,31,1,17,2,1.0,2,4,...,0,3,0,0,0,True,3576,0,1,40.0
1,1,1,1,31,1,17,2,1.0,2,4,...,0,3,0,0,0,True,3576,0,2,40.0
2,1,1,1,31,1,17,2,1.0,2,4,...,0,3,0,0,0,True,3576,0,3,40.0
3,1,1,1,31,1,17,2,1.0,2,4,...,0,3,0,0,0,True,3576,0,4,40.0
4,1,1,1,31,1,17,2,1.0,2,4,...,0,3,0,0,0,True,3576,0,5,40.0

In [48]:
merged2.dtypes

host_listings_count                   int64
host_is_superhost                     int32
host_identity_verified                int32
neighbourhood_cleansed                int32
room_type                             int32
property_type                         int32
accommodates                          int64
bathrooms                           float64
bedrooms                              int64
bed_type                              int32
security_deposit                    float64
cleaning_fee                        float64
review_scores_rating                float64
number_of_reviews                     int64
review_scores_cleanliness           float64
review_scores_location              float64
review_scores_communication         float64
review_scores_checkin               float64
review_scores_value                 float64
instant_bookable                      int32
is_business_travel_ready              int32
cancellation_policy                   int32
require_guest_profile_picture         int32
require_guest_phone_verification      int32
has_availability                      int32
is_review                              bool
days_host                             int64
day                                   int32
month                                 int64
price                               float64
dtype: object

In [49]:
from sklearn import linear_model

In [54]:
y = merged2['price']
X = merged2.drop(columns ='price')
X = X.values.reshape(-1, 29)

In [55]:
regr = linear_model.LinearRegression()
regr.fit(X, y)

LinearRegression()

In [57]:
y_pred = regr.predict(X)
print(y_pred.shape)

(143952,)

In [59]:
print('Intercept: \n', regr.intercept_)
print('Coefficients: \n', regr.coef_)

Intercept:
 -77.81860612084142
Coefficients:
 [ 8.19847858e-02  1.51887069e+01  1.31850529e+00 -1.47650588e+00
 -5.99288883e+00 -6.40496310e-01  2.21354890e+01  8.41606504e+01
  6.86651962e-02 -1.55338107e-02  3.83567352e-02  5.23314222e-01
  1.25605211e+00 -5.27809322e-02  1.36390871e+01  2.29301913e+01
 -5.31875283e+00 -3.64723242e+00 -2.13053537e+01 -8.99018406e+00
 -2.13162821e-14  3.78132555e+00  6.05758308e-02  1.44432784e+01
 -1.42108547e-14 -2.29679426e+02 -1.25578744e-03  1.06292467e+02
  4.03735458e+00]

In [77]:
for i in range(len(merged2.columns)-1):
    print(merged2.columns[i] , regr.coef_[i])

host_listings_count 0.08198478575686474
host_is_superhost 15.188706921697776
host_identity_verified 1.3185052862804734
neighbourhood_cleansed -1.4765058828478705
room_type -5.992888833270751
property_type -0.6404963097290517
accommodates 22.13548895709007
bathrooms 84.16065038534586
bedrooms 0.0686651961892036
bed_type -0.015533810651314081
security_deposit 0.038356735156511945
cleaning_fee 0.5233142219148051
review_scores_rating 1.2560521086980692
number_of_reviews -0.052780932236737854
review_scores_cleanliness 13.63908714613375
review_scores_location 22.9301912828005
review_scores_communication -5.318752832807541
review_scores_checkin -3.6472324162129293
review_scores_value -21.305353653472245
instant_bookable -8.99018406278119
is_business_travel_ready -2.1316282072803006e-14
cancellation_policy 3.781325549261964
require_guest_profile_picture 0.060575830836690193
require_guest_phone_verification 14.44327836921701
has_availability -1.4210854715202004e-14
is_review -229.67942588940923
days_host -0.001255787437321132
day 106.29246736328521
month 4.037354575514317

In [78]:
import statsmodels.api as sm

In [79]:
X = sm.add_constant(X) # adding a constant
 
model = sm.OLS(y, X).fit()
predictions = model.predict(X) 
 
print_model = model.summary()
print(print_model)

ValueError: Pandas data cast to numpy dtype of object. Check input data with np.asarray(data).