In [1]:
# Import Dependencies
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
import psycopg2
import time

In [2]:
# Download raw data from postgres for stage 1 ETL

conn_string = 'postgres://whnpmxwsiccrtg:53c453893549d2b1e6a4ff92e626a2a08ebcaff66678e50d33e3742f66e3e4f4@ec2-52-4-171-132.compute-1.amazonaws.com/d2ajro4cjr10lb'

db = create_engine(conn_string)
conn = db.connect()

start_time = time.time()
listings_full_df = pd.read_sql_query('select * from "listings_full"',con=conn)
print("PostGres Download Duration: {} seconds".format(time.time() - start_time))

PostGres Download Duration: 1.1606009006500244 seconds

In [3]:
# Create a dataframe of id and amenities to parse.
amenities_df = listings_full_df[['id', 'amenities']]
amenities_df.head()

      id                                          amenities
0   6422  {TV,Internet,Wifi,"Air conditioning",Kitchen,"...
1  20847  {TV,"Cable TV",Wifi,"Air conditioning",Kitchen...
2  25341  {TV,"Cable TV",Wifi,"Air conditioning",Kitchen...
3  25613  {TV,Internet,Wifi,"Air conditioning",Kitchen,"...
4  37306  {TV,Wifi,"Air conditioning",Kitchen,"Pets live...

In [4]:
# Clean the amenities lists to remove spaces, quotes, parenthesis, brackets and capitals.
amenities_df['amenities'] = amenities_df['amenities'].str.lower().str.replace(' ', '_').str.replace('"', '').str.replace('{', '').str.replace('}', '').str.replace('(', '').str.replace(')', '')
amenities_df.head()

      id                                          amenities
0   6422  tv,internet,wifi,air_conditioning,kitchen,free...
1  20847  tv,cable_tv,wifi,air_conditioning,kitchen,free...
2  25341  tv,cable_tv,wifi,air_conditioning,kitchen,free...
3  25613  tv,internet,wifi,air_conditioning,kitchen,free...
4  37306  tv,wifi,air_conditioning,kitchen,pets_live_on_...

In [6]:
# iterate over each row, parse the amenities string and assign 1 for amenities listed and 0 for amenities not listed in each row.
for index, row in amenities_df.iterrows():
    for amenity in row['amenities'].split(','):
        amenities_df.loc[index, amenity] = 1

amenities_df.fillna(0, inplace=True)

In [7]:
# Drop the amenities column and the column with no name.
amenities_df = amenities_df.drop(columns=['amenities', ''])
amenities_df.head()

,id,tv,internet,wifi,air_conditioning,kitchen,free_parking_on_premises,pets_live_on_this_property,dogs,cats,...,beachfront,ski-in/ski-out,beach_view,high-resolution_computer_monitor,standing_valet,pool_with_pool_hoist,sun_loungers,electric_profiling_bed,hammock,mobile_hoist
0,6422,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,20847,1.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,25341,1.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,25613,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,37306,1.0,0.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [8]:
# Upload Cleaned amenities to PostGres

start_time = time.time()
amenities_df.to_sql('amenities_clean', con=conn, if_exists='replace', index=False)
print("PostGres Upload Duration: {} seconds".format(time.time() - start_time))

PostGres Upload Duration: 218.01144933700562 seconds