In [9]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
import psycopg2
import time
import datetime

In [10]:
conn_string = 'postgres://whnpmxwsiccrtg:53c453893549d2b1e6a4ff92e626a2a08ebcaff66678e50d33e3742f66e3e4f4@ec2-52-4-171-132.compute-1.amazonaws.com/d2ajro4cjr10lb'
db = create_engine(conn_string)
conn = db.connect()

In [11]:
cal_table_raw = 'calendar'

In [12]:
cal_data = pd.read_sql_query(('select * from "{}"').format(cal_table_raw),con=conn)

In [13]:
cal_data.head()

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
0,1885504,2019-01-17,f,$97.00,$61.00,3,30
1,1885504,2019-01-18,f,$135.00,$85.00,2,30
2,1885504,2019-01-19,f,$135.00,$85.00,2,30
3,1885504,2019-01-20,t,$97.00,$61.00,1,30
4,1885504,2019-01-21,t,$97.00,$61.00,1,30

In [14]:
listing_table_raw = 'listings_full'
cal_table_to_save = 'calendar_py_test'
listing_table_to_save = 'listings_py_test'
amenities_table_to_save = 'amenities_py_test'

In [15]:
list_data = pd.read_sql_query(('select * from "{}"').format(listing_table_raw),con=conn)

In [16]:
list_data.head()

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,instant_bookable,is_business_travel_ready,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,6422,https://www.airbnb.com/rooms/6422,20190117134323,2019-01-17,Nashville Charm,"NOTE: For April and early May, must book at le...",1920 historic bungalow backs up to city park w...,"NOTE: For April and early May, must book at le...",none,Historic East Nashville is home to many new an...,...,f,f,strict_14_with_grace_period,f,f,1,0,1,0,4.74
1,20847,https://www.airbnb.com/rooms/20847,20190117134323,2019-01-17,East Nashville Retro Ranch!,Retro Ranch is nestled in the eclectic East si...,-Retro Ranch is nestled in a quiet part of Sou...,Retro Ranch is nestled in the eclectic East si...,none,"Many local favorites, including live music, th...",...,f,f,strict_14_with_grace_period,t,t,2,0,2,0,1.28
2,25341,https://www.airbnb.com/rooms/25341,20190117134323,2019-01-17,East Nashville Retro Ranch BR #2,Retro Ranch is nestled in the eclectic East si...,-Retro Ranch is nestled in a quiet part of Sou...,Retro Ranch is nestled in the eclectic East si...,none,"Many local favorites, including live music, th...",...,f,f,strict_14_with_grace_period,t,t,2,0,2,0,0.97
3,25613,https://www.airbnb.com/rooms/25613,20190117134323,2019-01-17,108 Year Old East Nashville Home,"Lovely large Craftsman home. Art, architecture...","Our gorgeous 3,000 square foot, architecturall...","Lovely large Craftsman home. Art, architecture...",none,We live in a walkable neighborhood with sidewa...,...,t,f,moderate,t,t,1,0,1,0,4.27
4,37306,https://www.airbnb.com/rooms/37306,20190117134323,2019-01-17,8th South Private Room&Bath - Female(s)/F+M Only,Renting again after taking a 1.5 year break. P...,Thank you for considering my home for your Nas...,Renting again after taking a 1.5 year break. P...,none,"I'm in Woodland-in-Waverly, the oldest survivi...",...,f,f,strict_14_with_grace_period,t,t,1,0,1,0,0.97

In [18]:
# Renaming listing_id column to id to be consistent with other dataframe
cal_data=cal_data.rename(columns={'listing_id':'id'})
    
 # crate day and month from data df.
cal_data['date']=pd.to_datetime(cal_data['date'])
cal_data['day'] = cal_data['date'].dt.day_name()
cal_data['month'] = cal_data['date'].dt.month

    # Converting day of the week to weekday or weekend
cal_data.loc[(cal_data.day =="Friday"),"day"]='weekend'
cal_data.loc[(cal_data.day =="Saturday"),"day"]='weekend'
cal_data.loc[(cal_data.day =="Monday"),"day"]='weekday'
cal_data.loc[(cal_data.day =="Tuesday"),"day"]='weekday'
cal_data.loc[(cal_data.day =="Wednesday"),"day"]='weekday'
cal_data.loc[(cal_data.day =="Thursday"),"day"]='weekday'
cal_data.loc[(cal_data.day =="Sunday"),"day"]='weekday'

    # Dropped date, available, adjusted_price, minimum_nights, and maximum_nights column
cal_data_new = cal_data.drop(['date','available','adjusted_price','minimum_nights','maximum_nights'],axis=1)

    # Remove and replace $ and ,
cal_data_new['price']=cal_data_new['price'].str.replace('$','')
cal_data_new['price']=cal_data_new['price'].str.replace(',','')

    # Converting price from object to float
cal_data_new['price']=cal_data_new['price'].astype(float)

    # Group id, day, and month and calculate mean price
cal_data_grouped=cal_data_new.groupby(['id','day','month']).mean().reset_index()

In [19]:
cal_data_grouped.head()

     id      day  month  price
0  6422  weekday      1   40.0
1  6422  weekday      2   40.0
2  6422  weekday      3   40.0
3  6422  weekday      4   40.0
4  6422  weekday      5   40.0

In [20]:
#export cleaned calendar data to postgres
cal_data_grouped.to_sql(("{}").format(cal_table_to_save), con=conn, if_exists='replace', index=False)

ProgrammingError: (psycopg2.errors.UndefinedTable) table "calendar_py_test" does not exist

[SQL:
DROP TABLE calendar_py_test]
(Background on this error at: http://sqlalche.me/e/13/f405)